header{
    width: 100vw;

    position: fixed;
    top:0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 1;
}
nav{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;
    
    
    align-items: center;
    font-family: var(--font-primary);
}