.floating--area {
  position: fixed;
  right: 80px;
  bottom: 80px;
}
.floating--area--button {
  padding: 16px;
  background-color: var(--pink500);
  color: white;
  border-radius: var(--border--radius--small);
  font-size: var(--font--size--small);
  font-weight: 600;
  border: none;
  filter: drop-shadow(rgba(255, 81, 96, 0.5) 0px 4px 12px);
}
@media screen and (max-width: 1024px) {
  .floating--area {
    right: 0;
    bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .floating--area--button {
    width: 90%;
  }
}
